.about_container {
  margin: 0 auto;
  width: 975px ;
  height: 400px;
  background-color: #141414;
}

.about_head {
  color: #FFFFFF ;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 98px 161px 5px;
}

.about_paragraph {
  color: #FFFFFF ;
  font-family: "Open Sans Re", sans-serif;
  font-size: 15px;
  margin: 0 161px 100px;
}