.about_container {
  margin: 0 auto;
  width: 975px ;
  height: 400px;
  background-color: #141414;
}

.about_head {
  color: #FFFFFF ;
  background-color: #141414;
  //margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-left: 161px;
  padding-top: 78px;
}

.about_paragraph {
  background-color: #141414;
  color: #FFFFFF ;
  font-family: "Open Sans Re", sans-serif;
  font-size: 15px;
  margin: 0 161px 100px;
}