.card {
  display: flex;
  background-color: #141414;
  border-radius: 0.5rem;
  gap: 1rem;
  width: 300px;

  .logo {
    width: 60px;
    height: 60px;

    object-fit: contain;
    border-radius: 0.25rem;
  }

  .content {
    display: flex;
    padding-top: 5px;
    background-color: transparent;
    flex-direction: column;

    .title {
      font-weight: bold;
      margin-bottom: 0.5rem;
      background-color:  #141414;

    }

    .skills {
      font-size: 0.9rem;
      background-color:  #141414;
      font-family: "Open Sans Re", sans-serif;
      color: #d1d5db;
      margin-left: 0.5rem;

      ul {
        padding-left: 1rem;
        background-color:  #141414;
        font-family: "Open Sans Re", sans-serif;
        list-style-type: disc;

      }
      li {
        background-color:  #141414;

      }
    }
  }
}
span {
  background-color: #141414;

}
.skillsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 25px;
  background-color: #141414;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}